call: {}
event:
  dm.test:
    startup:
      - 
        call: log
        args:
          message: Executed startup hook from procedure configuration
          type: success
    windup:
      - 
        call: log
        args:
          message: Executed windup hook from procedure configuration
          type: success
  dm.make.drupal:
    startup: {}
    windup: {}