dm:
  checkEnv:
    collection: false
    args:
      type:
        required: true
        type: String
        defaultValue: sync
      source_env:
        required: true
        type: String
        defaultValue:
      source_extra_info:
        required: true
        type: String
        defaultValue: ''
      target_env:
        required: true
        type: String
        defaultValue:
      target_extra_info:
        required: true
        type: String
        defaultValue: ''
  getEnvKeys:
  getHookEventKeys:
  getCustomScriptNames:
  getNetworks:
  hookLibLoadConfig:
    collection: false
    args:
      config:
        required: true
        type: Object
        defaultValue: {}
  init:
    collection: false
    args:
      name:
        required: true
        type: String
        defaultValue:
      force:
        required: false
        type: Boolean
        defaultValue: false
      remove_all:
        required: false
        type: Boolean
        defaultValue: false
      include:
        required: false
        type: Array
        defaultValue: []
  loadRunEnv:
  main:
  makeCerts:
  makeDbAccess:
    collection: false
    args:
      leap_from:
        required: false
        type: Object
        defaultValue: {}
      from_service:
        required: true
        type: String
        defaultValue:
      base_image:
        required: true
        type: String
        defaultValue:
      host:
        required: true
        type: String
        defaultValue:
      name:
        required: true
        type: String
        defaultValue:
      user:
        required: true
        type: String
        defaultValue:
      pass:
        required: true
        type: String
        defaultValue:
  makeDbClean:
    collection: false
    args:
      leap_from:
        required: false
        type: Object
        defaultValue: {}
      from_service:
        required: true
        type: String
        defaultValue:
      base_image:
        required: true
        type: String
        defaultValue:
      host:
        required: true
        type: String
        defaultValue:
      name:
        required: true
        type: String
        defaultValue:
      user:
        required: true
        type: String
        defaultValue:
      pass:
        required: true
        type: String
        defaultValue:
  makeDbExport:
    collection: false
    args:
      leap_from:
        required: false
        type: Object
        defaultValue: {}
      env_key:
        required: true
        type: String
        defaultValue:
      from_service:
        required: true
        type: String
        defaultValue:
      base_image:
        required: true
        type: String
        defaultValue:
      host:
        required: true
        type: String
        defaultValue:
      name:
        required: true
        type: String
        defaultValue:
      user:
        required: true
        type: String
        defaultValue:
      pass:
        required: true
        type: String
        defaultValue:
      excluded_tables:
        required: true
        type: Array
        defaultValue:
      backup_db_path:
        required: true
        type: String
        defaultValue:
      dump_options:
        required: false
        type: String
        defaultValue: "--skip-opt --add-drop-table --add-locks --create-options --disable-keys --extended-insert --quick --set-charset --routines --max_allowed_packet=512M"
  makeDbImport:
    collection: false
    args:
      leap_from:
        required: false
        type: Object
        defaultValue: {}
      env_key:
        required: true
        type: String
        defaultValue:
      from_service:
        required: true
        type: String
        defaultValue:
      base_image:
        required: true
        type: String
        defaultValue:
      host:
        required: true
        type: String
        defaultValue:
      name:
        required: true
        type: String
        defaultValue:
      user:
        required: true
        type: String
        defaultValue:
      pass:
        required: true
        type: String
        defaultValue:
      backup_db_path:
        required: true
        type: String
        defaultValue:
      file:
        required: true 
        type: String
        defaultValue:
  makeDbMakeDatabase:
    collection: false
    args:
      from_service:
        required: true
        type: String
        defaultValue:
      base_image:
        required: true
        type: String
        defaultValue:
      host:
        required: true
        type: String
        defaultValue:
      name:
        required: true
        type: String
        defaultValue:
      user:
        required: true
        type: String
        defaultValue:
      pass:
        required: true
        type: String
        defaultValue:
      charset:
        required: true
        type: String
        defaultValue:
      collation:
        required: true
        type: String
        defaultValue:
  makeDbSync:
    collection: false
    args:
      env_key:
        required: true
        type: String
        defaultValue:
  makeExec:
    collection: false
    args:
      cmd:
        required: true
        type: String
        defaultValue:
      access:
        required: false
        type: Object
        defaultValue: {}
  makeSonarScan:
    collection: false
    args:
      user:
        required: true
        type: String
        defaultValue:
      pass:
        required: true
        type: String
        defaultValue:
      token:
        required: true
        type: String
        defaultValue:
      project_settings:
        required: true
        type: Array
        defaultValue: []
  makeSync:
    collection: false
    args:
      env_key:
        required: true
        type: String
        defaultValue:
      rsync_options:
        required: false
        type: String
        defaultValue: "-O -avzc --no-o --no-g --no-perms -e \"ssh -o StrictHostKeyChecking=no\""
  makeTrace:
    collection: false
    args:
      # Ruta absoluta de ficheros o directorios que permite trazar
      to_track: 
        required: true
        type: Object
        defaultValue: {}
      # Nombre del log a mostrar
      name: 
        required: false
        type: String
        defaultValue: ""
  powerOff:
  setDbExec:
    collection: false
    args:
      base_image:
        required: true
        type: String
        defaultValue:
  setUp: