memcached:
  container_name: ${APPSETTING_SERVICE_MEMCACHED_HOST}
  hostname: ${APPSETTING_SERVICE_MEMCACHED_HOST}
  build:
    context: .
    dockerfile: ./templates/dockerfile/memcached
    args:
      APPSETTING_SERVICE_MEMCACHED_BASE_IMAGE: ${APPSETTING_SERVICE_MEMCACHED_BASE_IMAGE}
  labels:
    - "traefik.http.services.${APPSETTING_SERVICE_MEMCACHED_HOST}.loadbalancer.server.port=11211"
  networks:
    - dmproxy