memcached:
  container_name: ${APPSETTING_SERVICE_MEMCACHED_HOST}
  hostname: ${APPSETTING_SERVICE_MEMCACHED_HOST}
  build:
    context: .
    dockerfile: ./templates/dockerfile/memcached
    args:
      APPSETTING_SERVICE_MEMCACHED_BASE_IMAGE: ${APPSETTING_SERVICE_MEMCACHED_BASE_IMAGE}
  ports: [ "11311:11211" ]