mailhog:
  container_name: ${APPSETTING_SERVICE_MAILHOG_HOST}
  hostname: ${APPSETTING_SERVICE_MAILHOG_HOST}
  build:
    context: .
    dockerfile: ./templates/dockerfile/mailhog
    args:
      APPSETTING_SERVICE_MAILHOG_BASE_IMAGE: ${APPSETTING_SERVICE_MAILHOG_BASE_IMAGE}
  ports: [ "1025:8025" ]