pma:
  container_name: ${APPSETTING_SERVICE_PMA_HOST}
  hostname: ${APPSETTING_SERVICE_PMA_HOST}
  build:
    context: .
    dockerfile: ./templates/dockerfile/pma
    args:
      APPSETTING_SERVICE_PMA_BASE_IMAGE: ${APPSETTING_SERVICE_PMA_BASE_IMAGE}
  links:
    - db
  environment:
    MYSQL_ROOT_PASSWORD: root
    PMA_HOST: ${COMPOSE_PROJECT_NAME}-db
    PMA_USER: ${APPSETTING_SERVICE_DB_USER}
    PMA_PASSWORD: ${APPSETTING_SERVICE_DB_PASS}
  labels:
    - "traefik.enable=true"
    - "traefik.http.routers.${APPSETTING_SERVICE_PMA_HOST}.rule=${APPSETTING_PROXY_SERVICE_PMA_RULE_HOST}"
    - "traefik.http.routers.${APPSETTING_SERVICE_PMA_HOST}.tls=true"
  networks:
    - dmproxy
  depends_on:
    - db