mailhog:
  container_name: ${APPSETTING_SERVICE_MAILHOG_HOST}
  hostname: ${APPSETTING_SERVICE_MAILHOG_HOST}
  build:
    context: .
    dockerfile: ./templates/dockerfile/mailhog
    args:
      APPSETTING_SERVICE_MAILHOG_BASE_IMAGE: ${APPSETTING_SERVICE_MAILHOG_BASE_IMAGE}
  labels:
    - "traefik.enable=true"
    - "traefik.http.routers.${APPSETTING_SERVICE_MAILHOG_HOST}.tls=true"
    - "traefik.http.routers.${APPSETTING_SERVICE_MAILHOG_HOST}.rule=${APPSETTING_PROXY_SERVICE_MAILHOG_RULE_HOST}"
    # SMTP Server
    - "traefik.http.services.${APPSETTING_SERVICE_MAILHOG_HOST}.loadbalancer.server.port=1025"
    # Web UI
    - "traefik.http.services.${APPSETTING_SERVICE_MAILHOG_HOST}.loadbalancer.server.port=8025"
  networks:
    - dmproxy