www:
  container_name: ${APPSETTING_SERVICE_WWW_HOST}
  hostname: ${APPSETTING_SERVICE_WWW_HOST}
  build:
    context: .
    dockerfile: ./templates/dockerfile/www
    args:
      APPSETTING_USER: ${APPSETTING_USER}
      APPSETTING_GID: ${APPSETTING_GID}
      APPSETTING_UID: ${APPSETTING_UID}
      APPSETTING_SERVICE_WWW_BASE_IMAGE: ${APPSETTING_SERVICE_WWW_BASE_IMAGE}
      APPSETTING_SERVICE_WWW_PHP_RELEASE: ${APPSETTING_SERVICE_WWW_PHP_RELEASE}
      APPSETTING_SERVICE_WWW_COMPOSER_RELEASE: ${APPSETTING_SERVICE_WWW_COMPOSER_RELEASE}
      APPSETTING_SERVICE_WWW_WEBSERVER: ${APPSETTING_SERVICE_WWW_WEBSERVER}
  env_file:
    - ../.env
    - .env
  working_dir: ${APPSETTING_SERVICE_WWW_DRUPAL_WORKDIR}
  volumes:
    - 
      consistency: cached
      source: ../
      target: ${APPSETTING_SERVICE_WWW_TARGET}
      type: bind
    -
      consistency: cached
      source: /home/${APPSETTING_USER}/.gitconfig
      target: /home/${APPSETTING_USER}/.gitconfig
      type: bind
    -
      consistency: cached
      source: /home/${APPSETTING_USER}/.git-credentials
      target: /home/${APPSETTING_USER}/.git-credentials
      type: bind
  healthcheck:
    interval: 1s
    retries: 120
    start_period: 2m0s
    timeout: 2m0s
  extra_hosts:
    - "host.docker.internal:host-gateway"
  ports: [ "80:80", "443:443" ]